<div class="col-md-12 portlet box red">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> 购买点券 <span class="step-title"></span>
        </div>
    </div>
    <div class="portlet-body form">
        <form action="#" class="form-horizontal">
            <div class="form-wizard">
                <div class="form-body">
                    <div>
                        <div class="col-md-12 alert alert-danger">
                            购买点券编号：{{ purchaseCtrl.couponNum }}, 购买点券数量：{{ purchaseCtrl.sellCount }},
                            花费金币：{{ purchaseCtrl.payCoinCount }}, 购买后的点券将被冻结，等待下一次兑换率拆分后可交易.
                        </div>
                        <div class="row">
                            <div class="form-group has-success">
                               <label class="control-label col-md-3"> 登录密码 <span class="required" aria-required="true">
                                   * </span>
                               </label>
                               <div class="col-md-4">
                                   <input type="password" class="form-control" data-ng-model="purchaseCtrl.password">
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6" style="float: right">
                            <a class="btn grey button-submit" data-ng-click="purchaseCtrl.cancel()">
                                取消
                            </a>
                            <a class="btn red button-submit" data-ng-click="purchaseCtrl.submitSale()">
                                提交
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


